@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    color: #373737
}
body {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Khula', sans-serif;
    color: #999;
    line-height: 1.8
}
a:hover { text-decoration: none }
.hearder-area {
    padding: 20px 0px;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu li {
  position: relative;
  display: inline-block;
}
.mainmenu li a {
    display: block;
    color: #888;
    padding: 32px 26px;
}
.mainmenu li a:hover {
    color: #EF476F;
}
.section-padding {
    padding: 80px;
}

.section-title {
    padding: 50px 0px;
}
.section-padding.service-section{
  padding-bottom: 70px
}

.section-padding.gray-bg {
  background: #fbfbfb;
}
.case-study-bg1{background-image: url(../img/case-study-img1.jpg);}
.case-study-bg2{background-image: url(../img/case-study-img2.jpg);}
.case-study-bg3{background-image: url(../img/case-study-img3.jpg);}
.case-study-bg4{background-image: url(../img/case-study-img4.jpg);}
.case-study-bg5{background-image: url(../img/case-study-img5.jpg);}
.case-study-bg6{background-image: url(../img/case-study-img6.jpg);}

.single-case-study {
  background-size: cover;
  background-color: #ddd;
  background-position: center;
  height: 320px;
  display: table;
  width: 100%;
  text-align: center;
}

.case-study-wraper {
  background: #ef476f;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-in-out;
}
.single-case-study:hover .case-study-wraper{
  opacity: 1;
  visibility: visible;
}
.case-study-wraper h3 {
  color: #fff;
}
.case-study-wraper h4 {
  color: #fff;
  font-size: 17px;
  margin-bottom: 30px;
}
.case-study-more {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  background: #fff;
  color: #373737;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}
.case-studies-carousel.owl-carousel .owl-stage-outer{
  overflow: inherit;
}
.overflow-x-hidden{
  overflow-x: hidden; 
}


.testimonial-carousel.owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
  margin-top: 25px;
}

.single-testimonial-item {
  text-align: center;
}
.testimonial-content {
  font-size: 24px;
  line-height: 1.2;
  color: #373737;
}
.testimonial-meta h5 {
  color: #999999;
}
.testimonial-meta h4 {
  margin: 30px 0px 10px;
}
.testimonial-carousel .owl-dots, .case-studies-carousel .owl-dots {
  text-align: center;
  margin-top: 30px;
}
.testimonial-carousel .owl-dots div, .case-studies-carousel .owl-dots div{
  background: #ef476f;
  width: 20px;
  height: 3px;
  display: inline-block;
  margin: 0px 10px;
}







.single-logo-item {
  display: table;
  width: 100%;
  height: 80px;
}
.logo-item-inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.logo-carousel.owl-carousel .owl-item .logo-item-inner a img {
  margin: 0 auto;
  width: auto;
  display: block;
}
.logo-carousel.owl-carousel .logo-item-inner a:hover img, .logo-carousel.owl-carousel .logo-item-inner a img#hover-img{
  display: none;
}
.logo-carousel.owl-carousel .logo-item-inner a:hover img#hover-img{
  display: block;
}



.wish-area {
    background-color: #;
    padding: 150px 0px;
    border-bottom: 3px solid #f6f6f6;
    position: relative;
}
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/parallax-bg.png) repeat fixed 0 0;
}




.foote-area{
  padding: 70px 0px
}
.foote-area h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.foote-area, .foote-area a {
  color: #999;
  font-weight: 300;
}
.foote-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2;
}
.email-subscriber-form input[type="email"] {
  width: 68%;
  background: #f6f6f6;
  border: none;
  margin-right: -3px;
  border-radius: 0px;
}
.email-subscriber-form input[type="submit"] {
  width: 30%;
  padding: 11px;
  border-radius: 0px;
}
.email-subscriber-form {
  margin-bottom: 40px;
}
.foote-area ul.social-link li{
  display: inline-block;
  width: 32%
}
.foote-area ul.social-link li a:hover, .foote-area ul.social-link li a:hover i{
  color: #ef476f
}
.foote-area ul.social-link li i {
  margin-right:10px;
  color: #373737;
  font-weight: bold;
  transition: .5s
}
.copyright-area {
  background: #f7f7f7;
  text-align: center;
  padding: 15px 0px
}